/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#2dd0c6;
    background-image:linear-gradient(top, #2dd0c6 0%, #2dd0c6 51%);
    background-image:-webkit-linear-gradient(top, #2dd0c6 0%, #2dd0c6 51%);
    background-image:-ms-linear-gradient(top, #2dd0c6 0%, #2dd0c6 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2dd0c6),
        color-stop(0.51, #2dd0c6)
    );
    background-attachment:fixed;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 26px;
    height:100%;
    margin:0px;
    padding:70px 0px 0px 0px;
    width:100%;
    color: #111;
}

/* Portrait layout (default) */

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

a{
    color: #2dd0c6;
    text-decoration: none;
}

a:hover{
    color: #111;
    text-decoration: none;
}

.badge{
        background-color:#FFF;
        color: #2dd0c6;
}

.badge:hover{
        background-color:#2dd0c6;
        color: #FFF;
}
.social>li{
    display: inline-block;
}

.fa{
    border: solid 1px #2dd0c6;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    color: #2dd0c6;
}

.fa:hover {
    color: #fff;
    background: #2dd0c6;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-nav li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-default .navbar-nav li a:hover{
    color: #2dd0c6 !important;
}

.navbar-toggle {
    padding: 12px 10px;
    margin-right: 15px;
    margin-bottom: 0;
    background-color: #2dd0c6;
    border: 0;
    border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 15px;
    height: 1px;
}

.navbar-default .navbar-nav>li>a {
    color: #111;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #fff !important;
    color: #2dd0c6;
}

.navbar-brand>img {
    width: 45px;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.form-group{
    margin-bottom: 30px;
}

textarea.form-control{
    height: auto;
}

.form-control{
    display: block;
    width: 100%;
    height: 41px;
    padding: 10px 24px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.6;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: solid 1px #2dd0c6;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px;
}

.btn{
    border: 0;
    border-radius: 0;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 12px 26px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:hover{
    color: #FFF;
    background: #333;
}

.btn-default{
    color: #FFF;
    background: #2dd0c6;
    border-color: #ccc;
}

.pull-left {
    float: left!important;
}

.resulset-header{
    border-bottom: solid 2px #2dd0c6;
}
.resulset-header-row{
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: .3em;
    margin-top: 0;
    font-family: "Raleway",serif;
}

.content-page{
    background: #FFF !important;
}

.resulset-row{
    font-size: 10px;
    padding: 0px;
}
.separator{
    border-bottom-color: solid 1px #2dd0c6;
    padding: 60px 0;
    clear: both;
}

.resulset-content{
    border-bottom: dotted 1px #2dd0c6;
}

.blog-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px;
    font-family: "Raleway",serif;
}

.blog-title a{
    color: #111;
}

.authoring p, .comment-by, .comment-date{
    color: #888;
    display: block;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: .05em;
    margin-bottom: 20px;
}

.post-content p{
    margin: 0 0 25px;
}

.footer{
    padding: 15%;
}
.comments h2{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .3em;
    margin-top: 0;
    text-transform: uppercase;
}
.comment{
    border-bottom: dashed 1px #EEE;
}
.comment-by, .comment-date{
    margin-bottom: 0px;
}

.post-content p, .comment-content{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 26px;
    margin: 0 0 25px;
}

.bulet-red, .bulet-green{
    padding: 3px;
    border-radius: 50%;
}

.bulet-red{
    background: #d02d69;
}

.bulet-green{
    background: #4fd296;
}

.row-title{
    /*font-weight: bold;*/
}

.row-date{
    color: #888;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: .05em;
    margin: 0px;
    padding: 0px;
}

.row-saldo-final, .row-saldo-inicial{
    position: fixed;
    z-index: 1030;
    right: -50px;
    border-radius: 50%;
    padding: 15px 0px;
    font-size: 8px;
    opacity: 0.8;
    width: 60px;
    color: #FFF;
    text-align: center;
}

.row-saldo-inicial{
    top: 70px;   
}

.row-saldo-final{
    bottom: 0;
    bottom: 70px;
}

.row-saldo-inicial:hover, .row-saldo-final:hover{
    right: -50px;
}

.saldo-favor{
    border: solid 1px #2dd0c6;
    background: #2dd0c6;
}

.saldo-cero {
    border: solid 1px #2d9bd0;
    background: #2d9bd0;
}       

.saldo-negativo{
    background: #d02d69;
    border: solid 1px #d02d69;
}

.cargo{
    color: #d02d69;
}

.abono{
    color: #4fd296;
}

.aplicado{
    color: #2d9bd0;
}
.more{
    cursor: pointer;
}

.more:hover{
    color: #111;
    background: #fff;
}

.header-adeudo{
    background: #d02d69;
    color: #FFF;
    opacity: 0.8;
}

.header-abono{
    background: #2dd0c6;
    color: #FFF;
    opacity: 0.8;
}

.labels, .more-links{
    text-align: center;
}

.table-striped>tfoot{
    background: #2d9bd0;
    color: #fff;
    text-align: right;
}

.resulset-row-importe{
    text-align: right;
}

.tdright{
    text-align: right;
}
.tdleft{
    text-align: left;   
}


/*=================================================================*/
/*                      PRELOADER                              
/*=================================================================*/
.preloader-outer, #login {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.preloader {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 1px solid #2dd0c6;
    border-top: 1px solid transparent;
    border-radius: 100%;
}

.preloader > .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate;
}

@media only screen and (min-width: 768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }

    .preloader:before {
        left: -2px;
        top: -2px;
        border-top-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 1px;
    }

    .preloader > .icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px;
    }
}

@media only screen and (min-width: 1200px) {
    .preloader {
        height: 80px;
        width: 80px;
        margin-top: -40px;
        margin-left: -40px;
    }

    .preloader > .icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes wink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*=================================================================*/
/*                      LOGIN                              
/*=================================================================*/

#login{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.content-login{
    position: relative;
    width: 100%;
    height: 100%;
    background: #2dd0c6;
    opacity: 0.9;
}

.login-logo {
    width: 100%;
    height: 50%;
}

.login-logo div{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 75px;
    height: 50%;
    margin: 0px auto;
    top: 10%;
}

.login-form{
    background: #FFF;
    opacity: 0.3;
}

.form-group label{
    font-family: "Roboto",sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 0px;
    margin: 0 0 10px;
    padding: 0px 10px
}

#login .form-control{
    border-bottom: solid 1px #CCC;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-login{
        width: 100%;
    background: #6762a0;
}